# Example Environment Variables

MONGODB_URI=your_mongodb_uri_here
REDIS_URL=your_redis_url_here
SPOTIFY_API_KEY=your_spotify_api_key_here
DEEZER_API_KEY=your_deezer_api_key_here
PORT=your_port_number_here
